{% extends 'index.html' %} 

{% block title %} 
  Login Page
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="../static/styles.css" />
{% endblock %} 

{% block content %}
  <div class="outer-container">
    <div class="container">
      <form action="" method="post">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" name="username" placeholder="Username" required />
          <i class="bi bi-person-fill"></i>
        </div>
        <div class="input-box">
          <input type="password" name="password" placeholder="Password" required />
          <i class="bi bi-key-fill"></i>
        </div>
        <button type="Submit" class="btn">Login</button>
        <div class="register-link">
          <p>Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
